<%= form_with(model: user, local: true) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :nickname, User.human_attribute_name(:nickname) %>
    <%= f.text_field :nickname %>
  </p>

  <p>
    <%= f.label :email, User.human_attribute_name(:email) %>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :password, User.human_attribute_name(:password) %>
    <%= f.password_field :password %>

  <p>
    <%= f.label :password_confirmation, User.human_attribute_name(:password_confirmation) %>
    <%= f.password_field :password_confirmation %>

  <p class="actions">
    <%= f.submit '登録' %>
  </p>
<% end %>
