<h1>ユーザー詳細</h1>

<p id="notice"><%= notice %></p>

<p>
  <%= User.human_attribute_name(:id) %>
  <%= @user.id %>
</p>

<p>
  <%= User.human_attribute_name(:nickname) %>
  <%= @user.nickname %>
</p>

<p>
  <%= User.human_attribute_name(:last_logged_in_at) %>
  <%= @user.last_logged_in_at %>
</p>

<p>
  <%= User.human_attribute_name(:created_at) %>
  <%= l(@user.created_at, format: :default) %>
</p>

<p>
  <%= User.human_attribute_name(:updated_at) %>
  <%= l(@user.updated_at, format: :default) %>
</p>

<%= link_to '編集', edit_user_path(@user) %> |
<%= link_to '戻る', users_path %>
